Introduction
Background on the Dataset

    Dataset Source:
    "This data comes straight from the San Diego Police Department's RIPA (Racial and Identity Profiling Act) records. Collected by law enforcement itself, this dataset is an unfiltered look into the reality of policing practices. It’s designed to put transparency and accountability at the forefront, revealing how stops are conducted across California."

    Description of the Dataset:
    "This isn’t just a spreadsheet; it’s over [number] records detailing the who, what, and why of police stops. We’re talking demographics, reasons for stops, actions taken, and more. With key data points like race, ethnicity, violation type, and officer decisions, this dataset offers a hard look at how policies and practices might favor or disadvantage specific groups."

    Purpose of Analysis:
    "Our goal? To expose any patterns and disparities in police stops—raw data, real insights. We’re investigating if some groups face different outcomes based on race or other factors. This analysis will arm decision-makers with facts to address biases and raise the bar for accountability in law enforcement."

Significance of the Problem

    Contextual Importance:
    "Racial disparity in police stops isn’t just a statistic—it’s a critical social issue that demands attention. Fair treatment under the law isn’t optional; it’s essential. Exposing these disparities can push for real change, ensuring that law enforcement practices meet the standard that every citizen deserves."

    Value of Insights:
    "By getting to the bottom of this data, we’re offering something more than just numbers. Law enforcement, policymakers, and community leaders can use these insights to take real, actionable steps. It’s about more than addressing bias—it’s about strengthening community trust and implementing policy that actually works for everyone."

    Research Gap:
    "Racial profiling has been studied in a lot of places, but San Diego? Not enough. This analysis doesn’t just fill that gap; it’s a statement. It provides hard-hitting data on San Diego’s practices, something local officials and citizens can actually work with."

1. Import Libraries and Load Data

First, load the datasets into Google Colab or your Python environment. We’ll use pandas for data handling and basic analysis.

In [8]:
import pandas as pd

# Load datasets
ripa_stop_result = pd.read_csv('/content/ripa_stop_result_datasd.csv')
ripa_race = pd.read_csv('/content/ripa_race_datasd.csv')
quick_facts = pd.read_csv('/content/QuickFacts Oct-09-2024.csv')

# Preview the first few rows of each dataset
print(ripa_stop_result.head())
print(ripa_race.head())
print(quick_facts.head())

   stop_id  pid  resultkey                            result     code  \
0        1    1          3           Citation for infraction  42127.0
1        2    1          3           Citation for infraction  54303.0
2        3    1          2       Warning (verbal or written)  54098.0
3        4    1          6  Custodial Arrest without warrant  13174.0
4        5    1          2       Warning (verbal or written)  54306.0

                                          resulttext
0          12500(A) VC - DRIVE W/O LICENSE (I) 42127
1    22349(A) VC - EXCEED SPEED ON HIGHWAY (I) 54303
2  21453(A) VC - FAIL STOP LINE/ETC AT RED (I) 54098
3  243(E)(1) PC - BAT:SPOUSE/EX SP/DATE/ETC (M) 1...
4       22400(A) VC - DRIVE TOO SLOWLY/ETC (I) 54306
   stop_id  pid                    race
0        1    1      Hispanic/Latino(a)
1        2    1        Pacific Islander
2        2    1                   White
3        2    1  Black/African American
4        2    1                   Asian
                                                Fact Fact Note  \
0        Population estimates, July 1, 2023, (V2023)       NaN
1  Population estimates base, April 1, 2020, (V2023)       NaN
2  Population, percent change - April 1, 2020 (es...       NaN
3                  Population, Census, April 1, 2020       NaN
4                  Population, Census, April 1, 2010       NaN

  San Diego County, California  Value Note for San Diego County, California
0                    3,269,973                                          NaN
1                    3,298,648                                          NaN
2                        -0.9%                                          NaN
3                    3,298,634                                          NaN
4                    3,095,313                                          NaN

2. Initial Data Assessment

Use .info() and .describe() to identify data types, check for missing values, and see general statistics.

In [9]:
# Check data types and missing values for each dataset
print(ripa_stop_result.info())
print(ripa_race.info())
print(quick_facts.info())

# Get summary statistics for each dataset
print(ripa_stop_result.describe())
print(ripa_race.describe())
print(quick_facts.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   stop_id     9471 non-null   int64
 1   pid         9471 non-null   int64
 2   resultkey   9471 non-null   int64
 3   result      9094 non-null   object
 4   code        7087 non-null   float64
 5   resulttext  7087 non-null   object
dtypes: float64(1), int64(3), object(2)
memory usage: 444.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9105 entries, 0 to 9104
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   stop_id  9105 non-null   int64
 1   pid      9105 non-null   int64
 2   race     9105 non-null   object
dtypes: int64(2), object(1)
memory usage: 213.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 4 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Fact                                         79 non-null     object
 1   Fact Note                                    22 non-null     object
 2   San Diego County, California                 64 non-null     object
 3   Value Note for San Diego County, California  0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 2.8+ KB
None
           stop_id          pid    resultkey          code
count  9471.000000  9471.000000  9471.000000   7087.000000
mean   4276.282547     1.151937     3.894731  50638.000141
std    2451.522568     0.644558     2.289641  12844.585918
min       1.000000     1.000000     1.000000      3.000000
25%    1972.500000     1.000000     2.000000  53130.000000
50%    4462.000000     1.000000     3.000000  54167.000000
75%    6397.000000     1.000000     6.000000  54655.000000
max    8318.000000    13.000000    14.000000  99999.000000
           stop_id          pid
count  9105.000000  9105.000000
mean   4235.836354     1.146623
std    2461.834018     0.638992
min       1.000000     1.000000
25%    1927.000000     1.000000
50%    4411.000000     1.000000
75%    6356.000000     1.000000
max    8318.000000    13.000000
       Value Note for San Diego County, California
count                                          0.0
mean                                           NaN
std                                            NaN
min                                            NaN
25%                                            NaN
50%                                            NaN
75%                                            NaN
max                                            NaN

3. Data Cleaning and Preparation
Step 3.1: Handle Missing Values

Identify columns with missing values and decide on a strategy (e.g., drop or fill).

In [10]:
import pandas as pd
import numpy as np  # Import NumPy and assign it the alias 'np'

# Check data types and missing values for each dataset
print(ripa_stop_result.info())
print(ripa_race.info())
print(quick_facts.info())

# Get summary statistics for each dataset
print(ripa_stop_result.describe())
print(ripa_race.describe())
print(quick_facts.describe())

# Check missing values
print(ripa_stop_result.isnull().sum())
print(ripa_race.isnull().sum())
print(quick_facts.isnull().sum())

# Get the actual column names from the DataFrame
ripa_stop_result_columns = ripa_stop_result.columns.tolist()

# Print the column names to verify (optional but helpful for debugging)
print("Columns in ripa_stop_result:", ripa_stop_result_columns)

# Replace 'column1', 'column2' with actual column names from ripa_stop_result_columns
# Example:
# ripa_stop_result.dropna(subset=['actual_column_name1', 'actual_column_name2'], inplace=True)
# Choose the appropriate column names based on the output of ripa_stop_result_columns
# Make sure the selected columns are the ones where you want to drop rows with missing values.
ripa_stop_result.dropna(subset=[ripa_stop_result_columns[0], ripa_stop_result_columns[1]], inplace=True)  # Drop only critical columns

ripa_race.fillna({'column_name': 'Unknown'}, inplace=True)  # Example fill for categorical data

# Convert problematic columns in quick_facts to numeric, coerce errors to NaN
for column in quick_facts.select_dtypes(include=['object']).columns:  # Select object type columns
    try:
        quick_facts[column] = pd.to_numeric(quick_facts[column], errors='coerce')  # Coerce errors to NaN
    except ValueError:
        print(f"Could not convert column '{column}' to numeric.")

# Now fill NaN values with the mean for numeric columns only
quick_facts.fillna(quick_facts.select_dtypes(include=np.number).mean(), inplace=True)  # Example fill for numerical data, select numeric columns only

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   stop_id     9471 non-null   int64
 1   pid         9471 non-null   int64
 2   resultkey   9471 non-null   int64
 3   result      9094 non-null   object
 4   code        7087 non-null   float64
 5   resulttext  7087 non-null   object
dtypes: float64(1), int64(3), object(2)
memory usage: 444.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9105 entries, 0 to 9104
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   stop_id  9105 non-null   int64
 1   pid      9105 non-null   int64
 2   race     9105 non-null   object
dtypes: int64(2), object(1)
memory usage: 213.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 4 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Fact                                         79 non-null     object
 1   Fact Note                                    22 non-null     object
 2   San Diego County, California                 64 non-null     object
 3   Value Note for San Diego County, California  0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 2.8+ KB
None
           stop_id          pid    resultkey          code
count  9471.000000  9471.000000  9471.000000   7087.000000
mean   4276.282547     1.151937     3.894731  50638.000141
std    2451.522568     0.644558     2.289641  12844.585918
min       1.000000     1.000000     1.000000      3.000000
25%    1972.500000     1.000000     2.000000  53130.000000
50%    4462.000000     1.000000     3.000000  54167.000000
75%    6397.000000     1.000000     6.000000  54655.000000
max    8318.000000    13.000000    14.000000  99999.000000
           stop_id          pid
count  9105.000000  9105.000000
mean   4235.836354     1.146623
std    2461.834018     0.638992
min       1.000000     1.000000
25%    1927.000000     1.000000
50%    4411.000000     1.000000
75%    6356.000000     1.000000
max    8318.000000    13.000000
       Value Note for San Diego County, California
count                                          0.0
mean                                           NaN
std                                            NaN
min                                            NaN
25%                                            NaN
50%                                            NaN
75%                                            NaN
max                                            NaN
stop_id          0
pid              0
resultkey        0
result         377
code          2384
resulttext    2384
dtype: int64
stop_id    0
pid        0
race       0
dtype: int64
Fact                                            6
Fact Note                                      63
San Diego County, California                   21
Value Note for San Diego County, California    85
dtype: int64
Columns in ripa_stop_result: ['stop_id', 'pid', 'resultkey', 'result', 'code', 'resulttext']

Step 3.1: Identify and Drop Rows with Missing Values (Critical Columns)

First, print out the column names in ripa_stop_result to identify which columns contain missing values and decide on which columns are critical to your analysis.

In [11]:
# Print column names to identify relevant ones
ripa_stop_result_columns = ripa_stop_result.columns.tolist()
print("Columns in ripa_stop_result:", ripa_stop_result_columns)

# Drop rows with missing values in critical columns (update with actual column names)
ripa_stop_result.dropna(subset=[ripa_stop_result_columns[0], ripa_stop_result_columns[1]], inplace=True)

Columns in ripa_stop_result: ['stop_id', 'pid', 'resultkey', 'result', 'code', 'resulttext']

Step 3.2: Fill Missing Categorical Data in ripa_race

Fill missing values in ripa_race with placeholder values where needed (replace 'column_name' with actual column names).

In [12]:
ripa_race.fillna({'column_name': 'Unknown'}, inplace=True)  # Replace 'column_name' as appropriate

Step 3.3: Convert Object Columns to Numeric in quick_facts and Fill NaNs

    Convert object columns to numeric where possible, coercing errors to NaN.
    Fill NaN values in numeric columns with the mean.

python

In [13]:
# Convert columns to numeric, coercing errors
for column in quick_facts.select_dtypes(include=['object']).columns:
    quick_facts[column] = pd.to_numeric(quick_facts[column], errors='coerce')

# Fill NaNs in numeric columns with the mean
quick_facts.fillna(quick_facts.select_dtypes(include=np.number).mean(), inplace=True)

4. Standardize Column Names

To keep naming consistent, standardize all column names by converting to lowercase and replacing spaces with underscores.

In [14]:
# Standardize column names
ripa_stop_result.columns = ripa_stop_result.columns.str.lower().str.replace(' ', '_')
ripa_race.columns = ripa_race.columns.str.lower().str.replace(' ', '_')
quick_facts.columns = quick_facts.columns.str.lower().str.replace(' ', '_')

5. Convert Data Types

Adjust data types as needed (e.g., convert dates and categorical data) to optimize for analysis.

In [15]:
# Convert date columns to datetime format if any
# Replace 'date_column' with the actual name of your date column
# Check the actual column name in your ripa_stop_result DataFrame
date_column_name = ripa_stop_result.columns[0]  # Assuming the date column is the first column
# You can find the correct column name by printing ripa_stop_result.columns
ripa_stop_result[date_column_name] = pd.to_datetime(ripa_stop_result[date_column_name], errors='coerce')

# Convert specific columns to categorical data if relevant
ripa_race['race'] = ripa_race['race'].astype('category')

6. Remove Duplicates

Remove duplicate rows if they exist.

In [16]:
# Drop duplicate rows in each dataset
ripa_stop_result.drop_duplicates(inplace=True)
ripa_race.drop_duplicates(inplace=True)
quick_facts.drop_duplicates(inplace=True)

7. Merge Datasets (If Applicable)

Merge ripa_stop_result, ripa_race, and quick_facts if they share a common identifier.

In [25]:
ripa_stop_result['stop_id'] = ripa_stop_result['stop_id'].astype(int)
ripa_race['stop_id'] = ripa_race['stop_id'].astype(int)

In [27]:
import pandas as pd

# Assuming ripa_stop_result, ripa_race, and quick_facts are already loaded

# Convert date columns to datetime format if any
# Replace 'date_column' with the actual name of your date column
# Check the actual column name in your ripa_stop_result DataFrame
# Assuming the date column is the first column in ripa_stop_result
# Adjust if necessary
date_column_name = ripa_stop_result.columns[0]
# This gets the name of the first column - update if it's not your date column
ripa_stop_result[date_column_name] = pd.to_datetime(ripa_stop_result[date_column_name], errors='coerce')

# Convert specific columns to categorical data if relevant
ripa_race['race'] = ripa_race['race'].astype('category')

# Drop duplicate rows in each dataset
ripa_stop_result.drop_duplicates(inplace=True)
ripa_race.drop_duplicates

<bound method DataFrame.drop_duplicates of       stop_id  pid                           race
0           1    1             Hispanic/Latino(a)
1           2    1               Pacific Islander
2           2    1                          White
3           2    1         Black/African American
4           2    1                          Asian
...       ...  ...                            ...
9100     8314    1             Hispanic/Latino(a)
9101     8315    1             Hispanic/Latino(a)
9102     8316    1                          White
9103     8317    1                          Asian
9104     8318    1  Middle Eastern or South Asian

[9105 rows x 3 columns]>

8. Feature Engineering (If Necessary)

Add any derived columns that may assist in the analysis.

In [30]:
# Convert 'stop_id' to a consistent data type (int) in both DataFrames:
ripa_stop_result['stop_id'] = ripa_stop_result['stop_id'].astype(int)
ripa_race['stop_id'] = ripa_race['stop_id'].astype(int)

# Now you can merge the DataFrames
final_data = pd.merge(ripa_stop_result, ripa_race, on='stop_id', how='inner')

9. Final Data Review

Ensure all columns are clean, standardized, and ready for analysis.

In [31]:
# Final check
print(final_data.info())
print(final_data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13075 entries, 0 to 13074
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   stop_id     13075 non-null  int64
 1   pid_x       13075 non-null  int64
 2   resultkey   13075 non-null  int64
 3   result      12549 non-null  object
 4   code        9358 non-null   float64
 5   resulttext  9358 non-null   object
 6   pid_y       13075 non-null  int64
 7   race        13075 non-null  category
dtypes: category(1), float64(1), int64(4), object(2)
memory usage: 728.3+ KB
None
stop_id          0
pid_x            0
resultkey        0
result         526
code          3717
resulttext    3717
pid_y            0
race             0
dtype: int64